body {
	background-color: white;
	font-family: 'Raleway', 'sans-serif';
}
section {
	display:flex;
	}
.article-hebergement:nth-child(1)
{
    Flex:1;	
}
.article-hebergement:nth-child(2)
{
    flex:2;
}

.article-hebergement {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: space-between;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding:20px;
	margin: 20px;
}

.no-margin-left {
	margin-left: 0px
}
.button-blue{
	width: 20px;
    height: 20px;
	display: inline-block;
	color:#0065FC;
	background-color: #DEEBFF;
	padding: 10px;
	border-radius: 50px;
	border :2px solid #F2F2F2;
	margin-right: 10px;
}
.border {
	width: 10px;
    height: 10px;
    align-self:center; 
	font-size: 0.5em;
	color: #0065FC;
	border-radius: 50px;
	border :1px solid #F2F2F2;
	margin-right: 10px;
	padding: 5px;
}

/* NAV LINKS */
a{
	text-decoration: none;
}

.footer-links {
	list-style-type: none;
}
#nav-links {
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#nav-links a {
	font-size: 0.7em;
	color: black;
    margin-left: 20px;
    margin-right: 20px;
}
#nav-links a:hover {
	font-size: 0.7em;
	color: #0065FC;
    margin-left: 20px;
    margin-right: 20px;
    padding-top : 27px;
	border-top-color: #0065FC;
	border-top: 2px solid;
}
.inscrire {
	color: #0065FC;
	font-weight: bold;
}
#filtres-links  {
	font-weight : bold;
	list-style-type: none;
	margin-left: 20px;
	margin-right: 20px; 
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
}
#filtres-links a {
	font-weight: bold;
	color:black;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #F2F2F2;
	padding: 10px 10px 10px 0px;
	border-radius: 50px;
}
#filtres-links a:hover {
	background-color: #F2F2F2;
	font-weight: bold;
	color:black;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #F2F2F2;
	padding: 10px 10px 10px 0px;
	border-radius: 50px;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* HEADER */
.search-form {
	width: 300px;
	background-color: #F2F2F2;
	border: 1px #F2F2F2 solid;
	margin: 0px;
/* 	padding: 10px; */
	border-radius: 15px 15px 15px 15px;
	display: flex;
	align-items: center;
	align-content: flex-start;
	flex-wrap: nowrap;
}
.search-gauche {
	display: inline-block;
	padding: 10px;
	align-items: center;
}
.search-text {
	font-weight: bold;
	padding: 10px;
	align-items: flex-start;	
}
.search-buton {
	display: inline-block;
	background-color: #0065FC;
	padding: 10px;
}
#hmarseille {
	display: flex;
	margin: 15px;
}
.hebergement_buttons {
	border:5px solid white;
	background-color: white;
	border-radius: 20px;
}
.img-hebergement {
	margin-bottom: -400px;
	align-content: center;
}
.textimg-hebergement {
	background-color: white;
}
.piedpage {
	display: flex;
	background-color: #F2F2F2;
	
}


