body {
	background-color: white;
	font-family: 'Raleway', 'sans-serif';
}

/* NAV LINKS */
a {
	list-style-type: none;
	text-decoration: none;
	}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}


#nav-links {
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#nav-links a {
	text-decoration: none;
	font-size: 0.7em;
	color: black;
    margin-left: 20px;
    margin-right: 20px;
}
#nav-links a:hover {
	font-size: 0.7em;
	color: #0065FC;
    margin-left: 20px;
    margin-right: 20px;
    padding-top : 27px;
	border-top-color: #0065FC;
	border-top: 2px solid;
}
.nav-element:nth-child(3){
	font-weight: bold;
}

/* HEADER */
.search-form {
	width: 300px;
	background-color: #F2F2F2;
	border: 1px #F2F2F2 solid;
	margin: 0px;
	border-radius: 15px 15px 15px 15px;
	display: flex;
	align-items: center;
	align-content: flex-start;
	flex-wrap: nowrap;
}
.search-gauche {
	display: inline-block;
	padding: 10px;
	align-items: center;
}
.search-text {
	font-weight: bold;
	padding: 10px;
	align-items: flex-start;	
}
#search-button {
	display: inline-block;
	color: white;
	background-color: #0065FC;
	margin-left: 0px;
	padding: 10px 20px 10px 20px;
	border: 2px solid #0065FC;
	border-radius: 0px 15px 15px 0px
	
}
#search-button a {
	background-color: #DEEBFF;
}
#search-button a:hover {
background-color: #DEEBFF;	
}	
.border {
	font-size: 0.5em;
	color: #0065FC;
	border-radius: 50px;
	border :1px solid #F2F2F2;
	margin-right: 10px;
	padding: 10px;
}


.filtres {
	display:flex;
	align-items: baseline;
}

#filtres-links  {
	display: flex;	
	margin: 10px 10px 10px 0px;	
	font-weight : bold;
	list-style-type: none;	
	flex-wrap: wrap;	
}
#filtres-links a {
	
	font-weight: bold;
	color:black;
	margin: 20px;
	padding: 13px 13px 13px 0px;
	border: 1px solid #F2F2F2;
	
	border-radius: 50px;
}
#filtres-links a:hover {
	background-color: #F2F2F2;
	font-weight: bold;
	color:black;
	
	border: 1px solid #F2F2F2;
	
	border-radius: 50px;
}

.button-blue{
	display: inline-block;
	color:#0065FC;
	background-color: #DEEBFF;
	padding: 16px;
	border-radius: 50px;
	
	margin-right: 10px;
	margin-bottom: 10px;
}


/* SECTION */
section {
	display:flex;
	}

.hmarseille {
	
	display: flex;
	flex-flow: wrap;
	margin: 15px;
		
}
.hmarseille-activite {
	
	display: flex;
	flex-flow: wrap;
	margin: 15px 15px 15px 41px;
		
}


#hebergement_box {
	
	display:flex; 
	flex-direction: column;
	width: 230px;
	height:170px;
	border:5px solid white;
	background-color: white;
	border-radius: 20px;
	margin-right: 15px;
	margin-bottom: 15px;

}
#hebergement_box a:hover {
	box-shadow: 1px 1px 10px 3px #0065FC;
	box-sizing: content-box;
	border-radius: 20px;
}
.img-hebergement {
	position: absolute;
	border-radius: 20px 20px 0px 0px;
	height:100px;
	width: 230px;
	object-fit: cover;
	
	}
.text-box {
	background-color: white;
	color: black;
    margin-top: 110px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius:0px 0px 20px 20px;
}
h3 {
	font-weight: bolder;
	margin-left: 15px;
}
h6 {
	font-weight: bolder;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 10px;
	
}
em {
	font-weight: bold;
	font-style: normal;
	
}
.color-star-blue {
	margin: 0px;
	font-size: 0.9em;
	color:#0065FC;	
}
.color-star-grey {
	margin: 0px;
	font-size: 0.9em;
	color:#d1d1d1;	
}
no-margin-bottom {
	margin: 0px;
}

.article-hebergement {
	display: flex;
	flex-flow: row wrap; 
	align-content: flex-start;
	justify-content: flex-start;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding:20px;
	margin: 20px;
}
.aside-hebergement {
	display: flex;
	flex-flow: column wrap; 
	align-content: flex-start;
	justify-content: flex-start;
	width: 300px;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding:20px;
	margin: 20px;
}
#hebergement_box_aside {
	display:flex; 
	flex-direction: row;
	width: 280px;
	height:100px;
	border:5px solid white;
	background-color: white;
	border-radius: 20px;
	margin-right: 15px;
	margin-bottom: 15px;
}
#hebergement_box_aside a:hover {
	box-shadow: 1px 1px 10px 3px #0065FC;
	box-sizing: content-box;
	border-radius: 20px;

}
.img-hebergement_aside {
	position: absolute;
	border-radius: 20px 0px 0px 20px;
	height:100px;
	width: 100px;
	
	
	}
.text-box_aside {
	background-color: white;
	color: black;
    margin-left: 110px;
    margin-bottom: 0px;
    border-radius: 0px 20px 20px 0px;
}

/* Flex section activité  */
.wrapper {
    display: grid;
    width: 100%;
    
    grid-gap: 20px;

    grid-template-columns: 280px 280px 280px 280px;
    background-color: #fff;
    color: #444;
  }
  
  .boxact {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0px;
    font-size: 150%;
    box-shadow: 1px 1px 2px 1px #F2F2F2;
}
 .boxact:hover {
	 box-shadow: 2px 2px 4px 1px #0065FC;
 }
.a {
    grid-column: 1 ;
    grid-row: 1 / 6;
}
.b {
    grid-column: 2 ;
    grid-row: 1 / 4;
    }
.c {
    grid-column: 2 ;
    grid-row: 4 / 6;
    }
.d {
    grid-column: 3 ;
    grid-row: 1 / 6;
    }
.e {
    grid-column: 4 ;
    grid-row: 1 / 3;
    }
.f {
    grid-column: 4 ;
    grid-row: 3 / 6;
    }
.img-activite-a {
	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 350px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-b {
	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 180px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-c {

	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 100px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-d {
	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 350px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-e {	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 150px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-f {
	width: 280px;
	height: 150px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}

/* FOOTER */
.piedpage {
	display: flex;
	flex-wrap: nowrap;
	
	background-color: #F2F2F2;
}
.links-footer {
		width: 33%;
}

.footer-div {
	margin-top: 20px;
	margin-left: 40px;
}
.footer-links {
	list-style-type: none;
	font-size: small;
}
.footer-links a {
	
	color: black;
}	
.footer-links a:hover {
	
	color: #0065FC;
}	





@media screen and (max-width: 480px) {
	body {
	width: 480px;
	background-color: white;
	font-family: 'Raleway', 'sans-serif';
	margin: 0px;
	
}
header {
	margin-left: 30px;
}
nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin : 0px 0px 0px 10px;
	}
	.titre {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
	}
	#nav-links {
		padding-left: 0px;
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#nav-links a {
	text-decoration: none;
	font-size: 0.7em;
	color: black;
    margin-left: 20px;
    margin-right: 20px;
}
#nav-links a:hover {
	font-size: 0.7em;
	color: #0065FC;
    margin-left: 20px;
    margin-right: 20px;
    padding-top : 27px;
    border-top: 0px;
	border-bottom-color: #0065FC;
	border-bottom: 2px solid;
}
.nav-element:nth-child(1){
	order: 2;
	flex: 1;
	flex-basis: 240px;
}
.nav-element:nth-child(2){
	order: 3;
	flex: 1;
	flex-basis:240px;
	
}
.nav-element:nth-child(3){
	border-bottom: 0px;
	order: 1;
	
}
.filtres {
	display:flex;
	align-items: baseline;
	flex-direction: column;
	margin: 20px 0px 20px 0px;
}
#filtres-links  {
	padding-left: 0px;	
	margin-left: 0px;
}
#filtres-links a {
	
	margin-right: 40px;
	margin-left: 0px;
	
}
.margin-responsive{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
	margin-right: 15px;
	font-size: 1.2em;
	
}
section {
	display:flex;
	flex-direction: column-reverse;
	}
.aside-hebergement {
	display: flex;
	flex-flow: column wrap; 
	align-content: flex-start;
	justify-content: flex-start;
	width: auto;
	background-color: #F2F2F2;
	border-radius: 0px;
	padding:20px 20px 20px 0px;
	margin: 00px;
}
#hebergement_box_aside {
	display:flex; 
	flex-direction: row;
	width: 400px;
	height:150px;
	border:5px solid white;
	background-color: white;
	border-radius: 20px;
	margin-right: 15px;
	margin-bottom: 15px;
}
#hebergement_box_aside a:hover {
	box-shadow: 1px 1px 10px 3px #0065FC;
	box-sizing: content-box;
	border-radius: 20px;

}
.img-hebergement_aside {
	position: absolute;
	border-radius: 20px 0px 0px 20px;
	height:100px;
	width: 100px;
	
	
	}
.text-box_aside {
	background-color: white;
	color: black;
    margin-left: 110px;
    margin-bottom: 0px;
    border-radius: 0px 20px 20px 0px;
}

	.hmarseille {
	
	display: flex;
	flex-flow: wrap;
	margin: 15px;
		
}
.hmarseille-activite {
	
	display: flex;
	flex-flow: wrap;
	margin: 15px 15px 15px 41px;
		
}
.article-hebergement {
	display: flex;
	flex-flow: row wrap; 
	align-content: flex-start;
	justify-content: flex-start;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding:20px;
	margin: 20px;
}
#hebergement_box {
	
	display:flex; 
	flex-direction: column;
	width: 230px;
	height:170px;
	border:5px solid white;
	background-color: white;
	border-radius: 20px;
	margin-right: 15px;
	margin-bottom: 15px;

}
#hebergement_box a:hover {
	box-shadow: 1px 1px 10px 3px #0065FC;
	box-sizing: content-box;
	border-radius: 20px;
}
.img-hebergement {
	position: absolute;
	border-radius: 20px 20px 0px 0px;
	height:100px;
	width: 230px;
	object-fit: cover;
	
	}
.text-box {
	background-color: white;
	color: black;
    margin-top: 110px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius:0px 0px 20px 20px;
}
.pop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.piedpage {
	display: flex;
	flex-wrap: wrap;
	
	background-color: #F2F2F2;
}
/* Flex section activité ??? */
.wrapper {
    display: grid;
    width: 100%;
    
    grid-gap: 20px;

    grid-template-columns: 280px 280px 280px 280px;
    background-color: #fff;
    color: #444;
  }
  
  .boxact {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 0px;
    font-size: 150%;
    box-shadow: 1px 1px 2px 1px #F2F2F2;
}
 .boxact:hover {
	 box-shadow: 2px 2px 4px 1px #0065FC;
 }

.a {
    grid-column: 1 ;
    grid-row: 1 / 2;
}
.b {
    grid-column: 1 ;
    grid-row: 2 / 3;
    }
.c {
    grid-column: 1 ;
    grid-row: 3 / 4;
    }
.d {
    grid-column: 1 ;
    grid-row: 4 / 5;
    }
.e {
    grid-column: 1 ;
    grid-row: 5 / 6;
    }
.f {
    grid-column: 1 ;
    grid-row: 6 / 7;
    }

.img-activite-a {
	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 350px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-b {
	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 180px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-c {

	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 100px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-d {
	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 350px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-e {	
	margin: 0px 0px 0px 0px;
	width: 280px;
	height: 150px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.img-activite-f {
	width: 280px;
	height: 150px;
	object-fit: none;
	border-radius: 15px 15px 0px 0px;	
}
.piedpage {
	display: flex;
	flex-wrap: wrap;
	
	background-color: #F2F2F2;
}
.links-footer {
		width: 450px;
}

.footer-div {
	margin-top: 20px;
	margin-left: 40px;
}
.footer-links {
	list-style-type: none;
	font-size: small;
}
.footer-links a {
	
	color: black;
}	
.footer-links a:hover {
	
	color: #0065FC;
}

h4 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5px;
}


}
